[Unit]
Description=Check input for loss of power - shutdown

[Service]
type=oneshot
ExecStart=/bin/bash /home/pi/init/poweroff-test.sh

[Install]
WantedBy=CarAudio.service
